.icon {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 55px;
    top: 148px;
}

.join_btn {
    position: absolute;
    width: 190px;
    height: 60.32px;
    left: 944px;
    top: 193px;
}