.header{
  height: 70px;
  padding: 0 60px 0 50px;
  display: flex;
  justify-content: space-between;
}

.nav_logo_img {
  height: 50px;
  width: 45px;
  border-radius: 0px;
  z-index: 1;
  cursor: pointer;
}

.nav_logo{
  margin-left: 27px;
  font-size: 20;
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
/* Black/1 */

color: #2D2E36;
  cursor: pointer;
}

.nav_hackathon{
  width: 79px;
  height: 30px;
  cursor: pointer;
  font-family: DQHT;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height, or 120% */

  /* display: flex;
  align-items: center;
  text-align: right; */

  color: #0057FE;
}
.nav_projects{
  width: 103px;
  height: 30px;
  font-family: DQHT;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height, or 120% */

  /* display: flex;
  align-items: center;
  text-align: right; */

  color: #999999;
}
.nav_search{
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 19px 7px 15px;

  position: absolute;
  width: 400px;
  height: 40px;
  left: 719px;
  top: 30px;

  /* White */

  background: #FFFFFF;
  /* Grey/Gray/1 */

  border: 1px solid #E3E1E3;
  box-sizing: border-box;
  border-radius: 10px;
}
.nav_address{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 30px;
  width: 132px;
  height: 41px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
}
.nav_img_mine{
  width: 24px;
  height: 24px;
  margin: -3px 5px 0 60px;
}
.nav_mine{
  height: 24px;
  cursor: pointer;
  font-family: DQHT;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: -0.01px;
  color: #000000;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-x-center{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-y-center{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}