.container {
    position: absolute;
    left: 0px;
    top: 104px;
}
.message_center {
    position: absolute;
    left: 300px;
    top: 10px;
}

.apply_message {
    position: relative;
    margin-top: 60px;
    width: 800px;
    height: 476px;

    /* $white */

    background: #FFFFFF;
    border: 1px solid #0057FE;
    box-sizing: border-box;
    border-radius: 16px;
}

.message {
    position: relative;
    width: 302px;
    height: 36px;
    margin-left: 42px;
    top: 23px;

    font-family: DQHT Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    /* or 167% */


    color: #0057FE;

}

.applyer_name {

    position: absolute;
    width: 356px;
    height: 32px;
    left: 25px;
    top:129px;
/*
    background: #F7FAFC; */
    border-radius: 2px;
}

.applyer_area {
    position: absolute;
    width: 356px;
    height: 32px;
    left: 402px;
    top:129px;

    /* background: #F7FAFC; */
    border-radius: 2px;
}

.applyer_phone {
    position: absolute;
    width: 356px;
    height: 32px;
    left: 27px;
    top:207px;

    /* background: #F7FAFC; */
    border-radius: 2px;
}

.applyer_email {
    position: absolute;
    width: 356px;
    height: 32px;
    left: 402px;
    top:207px;

    /* background: #F7FAFC; */
    border-radius: 2px;
}

.applyer_role {
    position: absolute;
    width: 732px;
    height: 32px;
    left: 26px;
    top:302px;

    /* background: #F7FAFC; */
    border-radius: 2px;
}

.accept_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 20px;

    position: absolute;
    left: 690px;
    top: 408px;
    width: 68px;
    height: 36px;

    /* Brand1-6/常规 */

}

.reject_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 20px;

    position: absolute;
    left: 630px;
    top: 408px;
    width: 68px;
    height: 36px;

    /* Brand1-6/常规 */

}

.mine_team {
    position: absolute;
    width: 302px;
    height: 36px;
    left: 42px;
    top: 23px;
}

.mine_team {
    position:absolute;
    left: 200px;
    top:51px;
}
