.container {
}

.user_info {
    width: 886px;
}

.message_center {
}

.apply_message {
    margin-top: 60px;
    width: 800px;
    height: 476px;

    /* $white */

    background: #FFFFFF;
    border: 1px solid #0057FE;
    box-sizing: border-box;
    border-radius: 16px;
}

.message {
    width: 302px;
    height: 36px;
    margin-left: 42px;

    font-family: DQHT Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    /* or 167% */


    color: #0057FE;

}

.applyer_name {

    width: 356px;
    height: 32px;
/*
    background: #F7FAFC; */
    border-radius: 2px;
}

.applyer_area {
    width: 356px;
    height: 32px;

    /* background: #F7FAFC; */
    border-radius: 2px;
}

.applyer_phone {
    width: 356px;
    height: 32px;

    /* background: #F7FAFC; */
    border-radius: 2px;
}

.applyer_email {
    width: 356px;
    height: 32px;

    /* background: #F7FAFC; */
    border-radius: 2px;
}

.applyer_role {
    width: 732px;
    height: 32px;

    /* background: #F7FAFC; */
    border-radius: 2px;
}

.accept_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 20px;
    width: 68px;
    height: 36px;

    /* Brand1-6/常规 */

}

.reject_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 20px;
    width: 68px;
    height: 36px;

    /* Brand1-6/常规 */

}



.mine_team input::-webkit-input-placeholder{ /*WebKit browsers*/
    color: #86909C;
    }
    
.mine_team input::-moz-input-placeholder{ /*Mozilla Firefox*/
    color: #86909C;
}

.mine_team input::-ms-input-placeholder{ /*Internet Explorer*/ 
    color: #86909C;
}
    
    

.tabsTitle {
    z-index: 3;
}

.css-1g4ac1o-MuiTabs-root {
    z-index: 3;
}